@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/libre-baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville Bold';
    src: url('../fonts/libre-baskerville/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --border-radius-default: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.6;
    background: rgb(0, 100, 230);
    color: white;
    padding: 0 1rem;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-bottom: 100vh;
}

p {
    font-weight: 400;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
}

ul {
    padding-left: 1rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
}

a {
    color: inherit;
}

.button {
    background: transparent;
    color: white;
    padding: 1rem;
    border-radius: var(--border-radius-default);
    border: 1px solid white;
    cursor: pointer;
}
.button:hover {
    background: white;
    color: rgb(0, 100, 230);
}

nav {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0079FF;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.hero, .introduction, .reviews, .projects, .faq, .video-section, .why-hire-me, .footer {
    width: min(100%, 75rem);
    margin-bottom: 5rem;
}

.hero {
    background: rgb(0, 100, 230);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.hero-content, .hero-image {
    width: 50%;
}

.hero-content {
    font-size: 1.75rem;
}

.hero-image img {
    width: 100%;
    aspect-ratio: 1/1;
}
.wave {
    display: inline-block;
    transition-duration: 0.25s;
    cursor: default;
}
.wave:hover {
    animation: wave 1s infinite ease-in-out;
}

.no-bullshit {
    font-family: 'Libre Baskerville Bold';
    font-size: 1.2rem;
}

.video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 5rem;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews-top-content {
    text-align: center;
    font-size: 1.5rem;
    width: min(100%, 50rem);
}

.really {
    font-style: italic;
}

.reviews-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.review {
    width: min(100%, 30rem);
    height: auto;
    background: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: var(--border-radius-default);
    padding: 1rem;
}
.review-top {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}
.review-top a {
    text-decoration: none;
    color: rgb(0, 100, 230);
    font-weight: 500;
}
.review img {
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-default);
}

.review-text {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}
.review-highlight {
    font-weight: 900;
    background: rgb(253, 224, 71);
    padding: 0.2rem;
}

.projects a {
    text-decoration: underline;
}

.project {
    margin-bottom: 5rem;
}
.project iframe {
    max-width: 100%;
}

.project-image {
    width: 25%;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: var(--border-radius-default);
    opacity: 0.8;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    object-fit: cover;
}
.project-image-full {
    width: 100%;
    display: block;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: var(--border-radius-default);
}
.project-image.active {
    scale: 1.02;
    opacity: 1;
    cursor: default;
}

.project-image-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: calc(4 * 90%);
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}


.why-hire-me {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.why-hire-me h2 {
    width: 100%;
}

.why-hire-me-content {
    width: calc(70% - 1rem);
}
.why-hire-me-image {
    width: 30%;
}
.why-hire-me-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-default);
}

.yes-btn:hover {
    scale: 1.5;
}
.no-btn:hover {

/* Mobile design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }
    .hero-content, .hero-image {
        width: 100%;
    }
    .project-image-carousel {
        width: 100%;
        display: inline-block;
    }
    .project-image-carousel .project-image {
        width: 100%;
        scale: 1;
        opacity: 1;
        cursor: default;
    }
}


/* Animation */
@keyframes wave {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}
